$background_color: #f9f9f9;
$background_blue: #e3f2fd;
$background_yellow: #fff3e0;
$background_red: #ffebee;
$background_green: #e8f5e9;
$blue: #2196f3;
$yellow: #ffab00;
$red: #f44336;
$green: #4caf50;
$orange: #e65100;
$white: #ffffff;
// $gray: #8d8988;
$dark: black;
$gray: #5D5653;